/*
  Licensed to the Apache Software Foundation (ASF) under one
  or more contributor license agreements.  See the NOTICE file
  distributed with this work for additional information
  regarding copyright ownership.  The ASF licenses this file
  to you under the Apache License, Version 2.0 (the
  "License"); you may not use this file except in compliance
  with the License.  You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing,
  software distributed under the License is distributed on an
  "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
  KIND, either express or implied.  See the License for the
  specific language governing permissions and limitations
  under the License.
*/
/************[ Fonts ]***************************/
body,table td,select,* {
	font-family: arial, 'comic sans ms', sans-serif, helvetica, verdana;
	font-size: 12px;
}

body {
	font-family: "Lucida Grande", Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #333;
	background: url(images/linen.jpg) repeat #d1d5d8;
	margin: 0;
}

body.noscroll { /* also avoids bounce effect in Chrome and Safari */
	overflow: hidden;
}

/************[ widget: MyDialogBox ]****************/
.hupa-dialog-box td.dialogMiddleCenter {
	background: #fae5b0;
}

.hupa-dialog-box .dialogContent .gwt-Label {
	font-weight: bold;
	margin: 15px;
}

.hupa-dialog-box .Caption {
	font-size: 14px;
}

/************[ widget: RndPanel ]****************/
.hupa-rounded {
	border: 1px solid #7FAAFF;
	border-radius: 5px;
	overflow: hidden;
}

/************[ widget: Loading ]*************************************/
div.hupa-loading {
	background: url(images/ajax-loader.gif) no-repeat;
	padding-left: 25px;
	width: 100px;
	height: 14px;
	white-space: nowrap;
	margin-top: 5px;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
	vertical-align: top;
}

/************[ widget: EnableHyperLink ]*********/
.gwt-Hyperlink {
	color: #0d0eb0;
	text-decoration: underline;
	cursor: pointer;
}

.hupa-hyperlink .gwt-Hyperlink-disabled {
	color: #8d8d8d;
}

div.gwt-Hyperlink,div.gwt-Anchor {
	padding-left: 4px;
}

/************[ view: AppView ]*******************/
div.Hupa {
	text-align: left;
	margin-top: 0px;
	padding: 0px;
	width: 100%;
	min-width: 400px;
}

* html div.Hupa {
	margin-top: 0px;
}

div.hupa-logo {
	height: 64px;
	background: url(images/hupa-logo-64-transparent.png) no-repeat;
}

div.hupa-top {
	padding-left: 90px;
	margin-right: 8px;
}

* html div.hupa-top {
	padding-left: 0px;
}

div.hupa-top-wrap {
	height: 64px;
	background-color: #C5D9FF;
}

div.cgb-RPC-hupa-top-wrap {
	height: 59px;
}

table.hupa-top {
	width: 100%;
	margin-bottom: 0px;
}

table.hupa-button-bar td div {
	padding-top: 12px;
}

div.hupa-loginfo-label,div.hupa-loginfo-user {
	margin-left: 10px;
	margin-right: 10px;
}

.hupa-loginfo-user {
	font-style: italic;
	font-weight: bold;
}

.hupa-menu-button {
	margin-right: 15px;
}

div.hupa-header {
	display: none;
	padding-left: 10px;
	height: 32px;
}

.hupa-central {
	clear: both;
	margin: 8px 8px 8px 8px;
	min-height: 200px;
}

* html div.cgb-RPC-hupa-main {
	height: 500px;
	text-align: center;
}

.hupa-flash {
	background-color: #fae5b0;
	text-align: center;
	margin: auto auto 2px auto;
	width: 50%;
	position: absolute;
	top: 45px;
	left: 25%;
}

* html div.hupa-flash {
	border: none;
	background: none;
}

* html .hupa-flash div {
	background-color: #fae5b0;
}

.hupa-flash div.gwt-Label {
	padding: 5px 20px 5px 20px;
}

div.hupa-bottom {
	text-align: center;
}
/************[ view: LoginView ]*******************/
.hupa-login {
	margin: 10pt auto;
	width: 20%;
	text-align: right;
	position: relative;
	left: 50%;
	padding: 20px;
	border: 1px solid #7FAAFF;
	box-shadow: 0 1px 4px grey;
	border-radius: 5px;
}

.hupa-login td {
	text-align: center;
}

.hupa-login-form {
	padding: 10px;
}

.hupa-login-textbox {
	width: 230px;
	background-color: #d8ecfd;
	border: 1px solid #7FAAFF;
	margin-left: 5px;
}

/*************[ view: MainView ]*********************/
.hupa-tree {
	width: 158px;
	overflow: hidden;
}

/************[ widget: CommandsBar ]*********/
.hupa-commands-bar {
	width: 100%;
	background-color: #deeeff;
}

/************[ view: IMAPMessageListView ]*******************/
.hupa-msglist,.hupa-msg-top-bar,.hupa-msgtable {
	width: 100%;
}

.hupa-msg-top-bar {
	padding: 10px 4px 10px 4px;
	background-color: #C3D9FF;
}

.hupa-msgtable-row {
	text-align: left;
	vertical-align: top;
	padding: 0px 10px 0px 10px;
	cursor: pointer;
}

.hupa-msgtable-unseen {
	font-weight: bold;
}

.hupa-msgtable-empty {
	font-weight: bold;
	text-align: center;
	padding: 20px;
}

.hupa-search-box {
	width: 150px;
}

input[type=text],input[type=file],textarea {
	background-color: #d8ecfd;
	border: 1px solid #7FAAFF;
}

.dragdrop-dragable {
	background: red;
}

.gwt-SuggestBoxPopup {
	font-size: 10px;
}

.hupa-buttons .gwt-ListBox {
	margin-left: 5px;
	padding-left: 3px;
}

/*************[ buttonbars ]*********************/
.hupa-buttons {
	white-space: nowrap;
}

.hupa-buttons td {
	padding-left: 3px;
}

.hupa-buttons div {
	white-space: nowrap;
	vertical-align: middle;
}

.hupa-buttons .gwt-Hyperlink {
	padding-left: 6px;
}

/************[ widget: MessageHeaders ]*******************/
table.hupa-msg-headers {
	background-color: #C3D9FF;
}

.hupa-msg-headers td.label {
	width: 175px;
	text-align: right;
	font-weight: bold;
	padding-right: 5px;
}

/************[ view: IMAPMessageView ]*******************/
table.hupa-msgview {
	width: 100%;
}

div.hupa-msgview-content {
	padding: 20px;
}

.hupa-attachment .hupa-hyperlink {
	padding-left: 5px;
	font-style: italic;
	color: #0d0eb0;
	text-decoration: underline;
	cursor: pointer;
        width: 155px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
}

.hupa-attachment-view {
	margin-left: 10px;
}

/************[ view: MessageSendView ]*******************/
table.hupa-msgsend {
	width: 100%;
}

.hupa-validate-error {
	border: 1pt solid red;
	background-color: #fae5b0;
}

/************[ view: ContactsView ]*******************/
table.hupa-contacts {
	margin-left: auto;
	margin-right: auto;
}

/************************************************************************/
/*** Non re-factored stuff ***/
.cbg-ButtonContent {
	font-size: 80%;
}

.hupa-ErrorLabel,.gwt-PagingOptions .errorMessage {
	color: #FF0000;
}

.gwt-ScrollTable .dataTable td {
	border-top: 1pt solid #EEEEEE;
	white-space: nowrap;
	padding: 0px 10px 0px 10px;
	overflow: hidden;
	font-size: 12px;
	cursor: pointer;
}

.gwt-ScrollTable .dataTable tr.highlighted {
	background: #FAD163;
}

.gwt-ScrollTable .dataTable tr.selected td {
	background: #FFF7D7;
}

.hupa-IMAPFolder-unseen {
	font-weight: bold;
}

.hupa-IMAPFolder-selected {
	background: #f1e77b;
	width: 100%;
}

.hupa-droptarget-invalid {
	color: red;
}

.hupa-editor {
	border-left: 1px solid #CCC;
	border-right: 1px solid #CCC;
}

/**** HTML5 shadows and gradients ****/
.hupa-rounded {
	box-shadow: 0 1px 4px grey;
}

.hupa-top-wrap,.hupa-login-box,.hupa-msg-top-bar {
	background: -moz-linear-gradient(#FFFFFF, #C5D9FF);
	background: -webkit-linear-gradient(#FFFFFF, #C5D9FF);
	background: -o-linear-gradient(#FFFFFF, #C5D9FF);
	filter: progid:DXImageTransform.Microsoft.gradient(  startColorstr='#FFFFFF',
		endColorstr='#C5D9FF', GradientType=0 );
}

.hupa-commands-bar {
	background: -moz-linear-gradient(#C5D9FF, #eaeaea);
	background: -webkit-linear-gradient(#C5D9FF, #eaeaea);
	background: -o-linear-gradient(#C5D9FF, #eaeaea);
	filter: progid:DXImageTransform.Microsoft.gradient(  startColorstr='#C5D9FF',
		endColorstr='#eaeaea', GradientType=0 );
}

.hupa-tree {
	background: -moz-linear-gradient(#C5D9FF, #eaeaea);
	background: -webkit-linear-gradient(#C5D9FF, #eaeaea);
	background: -o-linear-gradient(#C5D9FF, #eaeaea);
	filter: progid:DXImageTransform.Microsoft.gradient(  startColorstr='#C5D9FF',
		endColorstr='#eaeaea', GradientType=0 );
}

div.hupa-main {
	background: -moz-linear-gradient(#eaeaea, #fafafa);
	background: -webkit-linear-gradient(#eaeaea, #fafafa);
	background: -o-linear-gradient(#eaeaea, #fafafa);
	filter: progid:DXImageTransform.Microsoft.gradient(  startColorstr='#eaeaea',
		endColorstr='#fafafa', GradientType=0 );
}

.hupa-flash,.hupa-dialog-box td.dialogMiddleCenter {
	background: -moz-linear-gradient(#fae5b0, #eaeaea);
	background: -webkit-linear-gradient(#fae5b0, #eaeaea);
	background: -o-linear-gradient(#fae5b0, #eaeaea);
	filter: progid:DXImageTransform.Microsoft.gradient(  startColorstr='#fae5b0',
		endColorstr='#eaeaea', GradientType=0 );
}

.hupa-login-form,.hupa-bottom {
	text-shadow: 1px 1px 3px #666666;
}

* html  .hupa-bottom {
	filter: progid:DXImageTransform.Microsoft.Shadow(color='#666666',
		Direction=135, Strength=1 );
}

.hupa-button {
	background: #FFFFFF;
	background: -moz-linear-gradient(#FFFFFF, #EDEDED);
	background: -webkit-linear-gradient(#FFFFFF, #EDEDED);
	background: -o-linear-gradient(#FFFFFF, #EDEDED);
	filter: progid:DXImageTransform.Microsoft.gradient(  startColorstr='#FFFFFF',
		endColorstr='#EDEDED', GradientType=0 );
	border: 1px solid #B7B7B7;
	color: #606060;
	border-radius: 2em 2em 2em 2em;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
	cursor: pointer;
	display: inline-block;
	font: 10px;
	margin: 0 2px;
	outline: medium none;
	padding: 2px 10px;
	text-align: center;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
	vertical-align: baseline;
}

.hupa-button:hover {
	background: #ededed;
	background: -moz-linear-gradient(#FFFFFF, #dcdcdc);
	background: -webkit-linear-gradient(#FFFFFF, #dcdcdc);
	background: -o-linear-gradient(#FFFFFF, #dcdcdc);
	filter: progid:DXImageTransform.Microsoft.gradient(  startColorstr='#FFFFFF',
		endColorstr='#dcdcdc', GradientType=0 );
}

.gwt-DecoratorPanel .middleCenter {
	height: 100%;
	width: 100%;
}

.gwt-SuggestBox {
	border-radius: 50px;
	max-height: 8px;
}
