/*** Login form ***/
.loginForm {
	position: relative;
	width: 580px;
	margin: 20ex auto 2ex auto;
}
/* images should be under project root, why jpg cannot use like png by relative path */
.loginForm .boxInner {
	background: url(images/linen_login.jpg) top left no-repeat #5c5c5c;
    width: 430px;
	margin: 0 50px;
	padding: 10px 24px 24px 24px;
	border: 1px solid #333;
	border-radius: 5px;
	box-shadow: inset 0 0 1px #ccc;
	-o-box-shadow: inset 0 0 1px #ccc;
	-webkit-box-shadow: inset 0 0 1px #ccc;
	-moz-box-shadow: inset 0 0 1px #ccc;
}

.loginForm .boxBottom {
	background: url(loginShadow.png) top center no-repeat;
	margin-top: -3px;
	padding-top: 10px;
}

.loginForm .tdInput {
	width: 80%;
	padding: 8px;
}

.loginForm input[type="text"],.loginForm input[type="password"] {
	background-color: white;
	width: 100%;
	border-color: #666;
}

.loginForm input.button {
	color: #444;
	text-shadow: 0px 1px 1px #fff;
	border-color: #f9f9f9;
	background: #f9f9f9;
	background: -moz-linear-gradient(top, #f9f9f9 0%, #e2e2e2 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f9f9f9),
		color-stop(100%, #e2e2e2) );
	background: -o-linear-gradient(top, #f9f9f9 0%, #e2e2e2 100%);
	background: -ms-linear-gradient(top, #f9f9f9 0%, #e2e2e2 100%);
	background: linear-gradient(top, #f9f9f9 0%, #e2e2e2 100%);
	box-shadow: inset 0 1px 0 0 #fff;
	-moz-box-shadow: inset 0 1px 0 0 #fff;
	-webkit-box-shadow: inset 0 1px 0 0 #fff;
	-o-box-shadow: inset 0 1px 0 0 #fff;
}

.loginForm input.button:hover,.loginForm input.button:focus {
	box-shadow: 0 0 5px 2px rgba(71, 135, 177, 0.9), inset 0 1px 0 0 #fff;
	-moz-box-shadow: 0 0 5px 2px rgba(71, 135, 177, 0.9), inset 0 1px 0 0
		#fff;
	-webkit-box-shadow: 0 0 5px 2px rgba(71, 135, 177, 0.9), inset 0 1px 0 0
		#fff;
	-o-box-shadow: 0 0 5px 2px rgba(71, 135, 177, 0.9), inset 0 1px 0 0 #fff;
}

.loginForm input.button:active {
	color: #333;
	background: -moz-linear-gradient(top, #dcdcdc 0%, #f9f9f9 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #dcdcdc),
		color-stop(100%, #f9f9f9) );
	background: -o-linear-gradient(top, #dcdcdc 0%, #f9f9f9 100%);
	background: -ms-linear-gradient(top, #dcdcdc 0%, #f9f9f9 100%);
	background: linear-gradient(top, #dcdcdc 0%, #f9f9f9 100%);
}

.loginForm form table {
	width: 98%;
}

.loginForm .tdTitle {
	white-space: nowrap;
	color: #cecece;
	text-shadow: 0px 1px 1px black;
	text-align: right;
	padding-right: 1em;
}

.loginForm .pFormbuttons {
	margin-top: 2em;
	text-align: center;
	border-radius: 5px;
}

.loginForm .submitButton {
	background-color: white;
	font-size: 110%;
	font-weight: bold;
	padding: 4px 12px;
	color: #000;
	text-decoration: hand;
	border: 1px solid #DDD;
	text-align: center;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
}

.loginForm .submitButton:hover {
	box-shadow: 0 0 5px 2px rgba(71, 135, 177, 0.9), inset 0 1px 0 0 #fff;
	-moz-box-shadow: 0 0 5px 2px rgba(71, 135, 177, 0.9), inset 0 1px 0 0
		#fff;
	-webkit-box-shadow: 0 0 5px 2px rgba(71, 135, 177, 0.9), inset 0 1px 0 0
		#fff;
	-o-box-shadow: 0 0 5px 2px rgba(71, 135, 177, 0.9), inset 0 1px 0 0 #fff;
}

.loginForm #logo {
	margin-bottom: 20px;
}

.loginForm .messagebox {
	min-height: 40px;
	padding: 5px 25px;
	text-align: center;
}

.loginForm .messageBox div {
	display: inline-block;
	padding-right: 0;
}

.bottomLine {
	font-size: 90%;
	text-align: center;
	margin-top: 2em;
}