
/************[ Fonts ]***************************/
body, table td, select, * {
    font-family:  arial, 'comic sans ms', sans-serif, helvetica, verdana;
    font-size: 12px;
}

/************[ widget: MyDialogBox ]****************/
.hupa-dialog-box td.dialogMiddleCenter  {
	background: #fae5b0 !important;
}
.hupa-dialog-box .dialogContent .gwt-Label {
	font-weight: bold;
	margin: 15px;
}
.hupa-dialog-box .Caption {
    font-size: 14px;
}

/************[ widget: RndPanel ]****************/
.hupa-rounded {
   border: 1px solid #7FAAFF; 
   -moz-border-radius: 5px;
   -webkit-border-radius: 4px;
}

/************[ widget: Loading ]*************************************/
div.hupa-loading {
	background: url(images/ajax-loader.gif) no-repeat;
	padding-left: 25px;
	width: 100px;
	height: 14px;
    white-space: nowrap;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    vertical-align: top;
}

/************[ widget: EnableHyperLink ]*********/
.gwt-Hyperlink {
	color: #0d0eb0;
	text-decoration: underline;
	cursor: pointer;
}
.hupa-hyperlink .gwt-Hyperlink-disabled {
	color: #8d8d8d;
}
div.gwt-Hyperlink, div.gwt-Anchor {
	padding-left: 4px;
}

/************[ view: AppView ]*******************/
div.Hupa {
	text-align: left;
	margin-top: 0px;
	padding: 0px;
	width: 100%;
	min-width: 920px;
}
* html div.Hupa {
   margin-top: 15px;
}
div.hupa-logo {
    width: 75px;
	height: 64px;
    float: left;
	background: url(images/hupa-logo-64.jpg) no-repeat;
}

div.hupa-top { 
    padding-left: 80px;
    padding-right: 8px;
}
* html div.hupa-top { 
    padding-left: 0px;
} 
div.hupa-top-wrap {
	height: 64px;
	background-color: #C5D9FF;
}
div.cgb-RPC-hupa-top-wrap {
	height: 59px;
}

table.hupa-top {
    width: 100%;    
    margin-bottom: 0px;
}
table.hupa-button-bar td div {
	padding-top: 12px;
}

div.hupa-loginfo-label, div.hupa-loginfo-user {
	margin-left: 10px;
}
.hupa-loginfo-user {
	font-style: italic;
	font-weight: bold;
}
.hupa-menu-button {
	margin-right: 15px;
}
div.hupa-header {
    color: #C5D9FF;
	padding-left: 10px;
	height: 32px;
}

div.hupa-main {
	clear: both;
	margin: 8px 8px 8px 8px;
	min-height: 500px;
}

* html div.cgb-RPC-hupa-main {
	height: 500px;
    text-align: center;
}

div.hupa-flash {
	border: 1px solid #FAD163;
    background-color: #fae5b0;
	text-align: center;
    margin: auto auto 2px auto;
    width: 50%;
    position: absolute;
    top: 45px;
    left: 25%;
}
* html div.hupa-flash {
	border: none;
	background: none;
}
* html .hupa-flash div {
    background-color: #fae5b0;
}

.hupa-flash div.gwt-Label {
	padding: 5px 20px 5px 20px;
}

div.hupa-bottom {
	text-align: center;
}
/************[ view: LoginView ]*******************/
table.hupa-login {
    text-align: right;
	margin-left: auto;
	margin-right: auto; 
	padding: 40px;
}

table.hupa-login td {
	text-align: center;
	padding-top: 6px;
}
table.hupa-login-form {
	padding: 10px;
}

.hupa-login-textbox {
	width: 230px;
	background-color:  #d8ecfd;
	border: 1px solid #7FAAFF;
	margin-left: 5px;
}

/*************[ view: MainView ]*********************/
.hupa-tree {
	width: 158px;
	overflow: hidden;
}

/************[ widget: CommandsBar ]*********/
.hupa-commands-bar {
	width: 100%;
    padding: 5px 4px 5px 4px;
    background-color: #deeeff;  
}

/************[ view: IMAPMessageListView ]*******************/
.hupa-msglist, .hupa-msg-top-bar, .hupa-msgtable {
	width: 100%;
}
.hupa-msg-top-bar {
	padding: 10px 4px 10px 4px;
    background-color: #C3D9FF;	
}

.hupa-msgtable-row {
    text-align: left;
	vertical-align: top;
	padding: 0px 10px 0px 10px;
	cursor: pointer;
}
.hupa-msgtable-unseen {
    font-weight: bold;
}

.hupa-msgtable-empty {
    font-weight: bold;
	text-align: center;
	padding: 20px;
}
.hupa-search-box {
	width: 150px;
}

input[type=text], input[type=file], textarea {
    background-color:  #d8ecfd;
    border: 1px solid #7FAAFF;
}

.dragdrop-dragable{
	background: red;
	}

.gwt-SuggestBoxPopup {
    font-size: 10px;
}

.hupa-buttons .gwt-ListBox {
	margin-left: 5px;
}

/*************[ buttonbars ]*********************/
.hupa-buttons {
    white-space: nowrap;
}

.hupa-buttons td {
  padding-left: 3px;
}

.hupa-buttons div {
	white-space: nowrap;
	vertical-align: middle;
}
.hupa-buttons .gwt-Hyperlink {
	padding-left: 6px;
}


/************[ widget: MessageHeaders ]*******************/
table.hupa-msg-headers {
    background-color: #C3D9FF;
}
.hupa-msg-headers td.label {
	width: 175px;
	text-align: right;
	font-weight: bold;
	padding-right: 5px;
}

/************[ view: IMAPMessageView ]*******************/
table.hupa-msgview {
	width: 100%;
}
div.hupa-msgview-content {
	padding: 20px;
}

/************[ view: MessageSendView ]*******************/
table.hupa-msgsend {
	width: 100%;
}

/************[ view: ContactsView ]*******************/
table.hupa-contacts {
	margin-left: auto;
	margin-right: auto;
}


/************************************************************************/
/*** Non re-factored stuff ***/
.cbg-ButtonContent {
	font-size: 80%;
}

.hupa-ErrorLabel, .gwt-PagingOptions .errorMessage {
    color:           			   #FF0000;
}

.hupa-validationErrorBorder {
	border:							1pt solid red;
}




.gwt-ScrollTable .dataTable td {
    border-top:    				  	1pt solid #EEEEEE;
    white-space:   			    	nowrap;
    padding:					   	0px 10px 0px 10px;
    overflow:    			      	hidden;
    font-size:						12px;
	cursor:         			    pointer;
}


.gwt-ScrollTable .dataTable tr.highlighted {
    background:    				  	#FAD163;
}

.gwt-ScrollTable .dataTable tr.selected td {
    background:       				#FFF7D7;
}


.hupa-IMAPFolder-selected {
	background:	    			  	#C3D9FF;
	width:						  	100%;	
}

.hupa-droptarget-invalid {
	color:							red;
}

.hupa-editor { 
	border: 2px solid #C3D9FF;
}

