@import url("hupa/Upload.css");

.Hupa {
	width: 100%;
	text-align: left;
}

.hupa-logo {
    background: url(images/hupa-logo-64.jpg) no-repeat;
    color:  white;
    height: 54px;
    width: 70px;
}

.hupa-button-bar, .hupa-info-bar {
    height: 24px;
    width: 100%; 
}

.hupa-info-bar {
	border-top:						1px solid silver;
    border-bottom:					1px solid silver;
    text-align:						left;
    background-color:				#E0ECFF; 
}

div.hupa-header {
    width: 20%;
    padding-left:					10px;
    height: 20px;
    color: #E0ECFF;
}

div.hupa-flash {
	border: 1px solid #FAD163;
	background-color: #fae5b0;
    height: 15px;
    width: 50%;
    text-align: center;
}

.hupa-menu-button {
	margin-right: 20px;
	text-decoration: underline;
	cursor: pointer;
}

.hupa-login-label, .hupa-login-user {
	margin-left: 10px;
	font-size: 12px;
}

.hupa-login-user {
	font-style: italic;
	font-weight: bold;
}


.hupa-Container-Navigation { 
	border: 2px solid #E0ECFF;
} 



.cbg-RP { 
    background-color:				#E0ECFF;
}

.cbg-RPContainer { 
    border-color:					#E0ECFF;
}

.gwt-TabBar .gwt-TabBarItem-selected {
    background-color:				#E0ECFF;
}

.gwt-TabBar .gwt-TabBarItem {
    background-color:				#E0ECFF;
}


.cbg-Button, .gwt-HTML, .gwt-Label, .gwt-Tree .gwt-TreeItem, .gwt-SuggestBoxPopup .item, hupa-LoginForm, .hupa-IMAPMessageWidget-Header-Content, .hupa-ToolTip, .hupa-IMAPFolder, .gwt-ListBox, .gwt-HyperLink, .gwt-TextBox{
    font-size:						12px;
	font-family: 					Arial, Helvetica, sans-serif;
}

.hupa-LoginForm {
	font-size:						12px;
	font-family: 					Verdana;
}

.hupa-ErrorLabel, .gwt-PagingOptions .errorMessage {
    color:           			   #FF0000;
    font-size:						12px;
	font-family: 					Arial, Helvetica, sans-serif;
}

.hupa-MailTableControl {
    background-color:				#E0ECFF;	
}

.hupa-validationErrorBorder {
	border:							1pt solid red;
}

.hupa-IMAPMessageWidget-Header {
    border:							1pt solid silver;
    text-align:						left;
    background-color:				#E0ECFF;
}


.hupa-IMAPMessageWidget-ButtonBar {
    border-bottom:					1pt solid silver;
    padding-left:					5px;
    padding-bottom:					5px;
}

.hupa-Northpanel {
    border-top:						1pt solid grey;
    border-bottom:					1pt solid grey;
    background-color:				#E0ECFF;
}


.hupa-Mailtable-row-notseen {
    font-weight: 					bold;
}

.gwt-ScrollTable .dataTable td {
    border-top:    				  	1pt solid #EEEEEE;
    white-space:   			    	nowrap;
    padding:					   	0px 10px 0px 10px;
    overflow:    			      	hidden;
    font-size:						12px;
	font-family: 					Arial, Helvetica, sans-serif;
	cursor:         			    pointer;
}


.gwt-ScrollTable .dataTable tr.highlighted {
    background:    				  	#FAD163;
}

.gwt-ScrollTable .dataTable tr.selected td {
    background:       				#FFF7D7;
}

.hupa-Mailtable-row {
    text-align: 				  	left;
	vertical-align:  				top;
	padding: 					  	0px 10px 0px 10px;
	font-size:						12px;
	cursor:	        		   		pointer;
}

.hupa-Mailtable-cell-date {
	text-align: 				  	right;
}

.hupa-IMAPFolder-selected {
	background:	    			  	#E0ECFF;
	width:						  	100%;	
}

.hupa-droptarget-invalid {
	color:							red;
}

.hupa-editor { 
	border: 2px solid #E0ECFF;
}

